<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>elefgy</title>
        <style>
        body
        {
            background: #ffffff;
            font-family: "Arial", sans-serif;
            font-size: 14px;
            font-style: normal;
            line-height: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            color: #000000;
            text-decoration: none;
            text-align: center;
            margin: 0px;
            padding: 0px;
        }
        img
        {
            display: block;
            margin: 30px auto 0 auto;
            padding: 0;
        }
        </style>
    </head>
    <body>
